project_id              = "my-gcp-project"
region                  = "asia-northeast1"
bucket_location         = "ASIA-NORTHEAST1"
environment             = "prod"
service_name            = "leetdaily"
container_image         = "asia-northeast1-docker.pkg.dev/my-gcp-project/leetdaily/leetdaily:latest"
discord_token_secret_id = "leetdaily-discord-bot-token"
config_object           = "config.json"
state_object            = "state.json"
problems_object         = "problems.json"
