project_id                  = "your-gcp-project-id"
github_owner                = "25MPOOL"
github_repository           = "leetdaily"
github_repository_id        = "123456789"
bucket_location             = "ASIA-NORTHEAST1"
terraform_state_bucket_name = "your-gcp-project-id-leetdaily-tfstate"
